body {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    background-image: url(../background.png);
}

img {
    vertical-align: middle;
}

.title {
    font-weight: 800;
    vertical-align: middle;
    margin: 5px;
    font-size: 32px;
}

.subtitle {
    font-weight: 700;
    margin: 5px;
    font-size: 20px;
}

.bottomtext {
    font-weight: 700;
    margin: 5px;
    font-size: 12px;
}

.hide {
    color: #7f7f7f;
    font-size: 10px;
}

#main {
    position: absolute;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.4);
}

.button {
    border: none;
    color: white;
    padding: 3px 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

button:hover {
    color: #000000;
}

.button1 {
    background-color: #43C853;
    width: 250px;
}

.button2 {
    background-color: #43C853;
    width: 250px;
}

.button3 {
    background-color: #7f7f7f;
}

.button4 {
    background-color: #7f7f7f;
}

.button5 {
    background-color: #7f7f7f;
}

.button11 {
    background-color: #6d9eeb;
}

.button12 {
    background-color: #ffd966;
}

.button13 {
    background-color: #e06666;
}

.bt {
    display: inline;
}

.box {
    margin-bottom: 40px;
}

/* 모바일 또는 폭이 좁을 때 : 한 줄로만 나열 */
@media all and (max-width:530px) {

    img {
        left: 50%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-weight: 700;
        margin: 5px;
        font-size: 17px;
    }

    #main {
        width: 220px;
        top: 5%;
        left: 50%;
        padding: 20px 40px 20px 40px;
        transform: translate(-50%, 0%);
    }

    div.bt {
        margin: auto;
        width: 50%;
    }

    .bottomtext {
        font-weight: 700;
        margin: 5px;
        font-size: 10px;
    }

    .button {
        border: none;
        color: white;
        padding: 3px 15px;
        width: 200px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 12px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
    }

    .box {
        margin-bottom: 15px;
    }

}

/* 모바일 또는 폭이 좁을 때 : 한 줄 또는 두 줄로 나열 */
@media all and (min-width:530px) and (max-width:840px) {

    #main {
        width: 450px;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    div.bt {
        margin: auto;
        width: 50%;
    }
}

/* 데스크탑 기본 */
@media all and (min-width:840px) {

    #main {
        width: 750px;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

</style >
